.header
{
    background-color: @header-bgColor;

    >.logo-header
	  {
	     background-color: @flank-bgColor;
       
        >a
        {
       	  .theme-background-image('logo-header.png')
        }

        &:hover
        {
          background-color: @header-bgColor
        }
	  }



    >.avatar
    {
        color: #FFFFFF;

        >p
        {
           .theme-background-sprite;
        }

        &:hover
        {
           background-color: @flank-bgColor
        }
    }



    >.nav-switch
    {
        i
        {
           background-color: @nav-switch-bgColor
        }
       

       &.toggle
       {
          background-color: @nav-switch-toggle-bgColor;

          i
          {
              background-color: @nav-switch-toggle-color
          }
       }
    }
}