@import 'variables.less';
@import 'utils.less';
@import 'ghicon.less';
@import 'components/header.less';
@import 'components/body.less';
@import 'components/flank.less';
@import 'components/navigat.less';
@import 'components/content.less';

*{
	margin: 0;
	padding: 0;
	
}

html
{
	height: 100%;
}


body
{
	height: 100%;
	overflow: hidden;
	font-family: @font-family
}


a
{
	text-decoration: none
}


.ey-icon
{
   display: inline-block;
   vertical-align: middle
}

