@import 'variables.less';
@import 'utils.less';
@import 'mixins/header.less';




/*******************************************************
 * variables
 ******************************************************/
 /**
 * 主题目录
 * @type {String}
 */
@theme-dir : 'theme-blue/';


@header-background-color: #478FF1;




@main-nav-background-color: #446BB1;


@nav-switch-background-color: #C0DDF8;
@nav-switch-hover-background-color: #2C6ABE;
