/*****************************************************************************
 * global styles
 ****************************************************************************/
@font-family:'Helvetica Neue', Helvetica, Microsoft Yahei, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;

/**
 * 图片目录
 * @type {String}
 */
@image-dir : '../images/';

@border-radius : 4px;


/*****************************************************************************
 * header styles
 ****************************************************************************/
@header-height: 60px;





/*****************************************************************************
 * flank styles
 ****************************************************************************/
@flank-width: 70px;

/*****************************************************************************
 * navigat styles
 ****************************************************************************/
@navigat-width: @flank-width;
@navigat-active-width: 170px;


/*****************************************************************************
 * glyph font styles
 ****************************************************************************/
@glyph-font-name : 'glyphicons-halflings-regular';
@glyph-font-path : '../fonts/';
@icon-font-svg-id: 'glyphicons_halflingsregular';
